body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #292929;
    color: #ffffff;
    margin: auto;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 5em;
    max-width: 960px;
    min-width: 200px;
}

.typeText::after {
    content: "|";
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

img {
    transition: transform .2s ease-in-out;
}

img:hover {
transform: rotate(10deg);
}

hr {
    margin-top: 4em;
}

.introduction {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4em;
    display: none;
}

.introduction h1 {
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    border-bottom: 2px solid white;
    padding-bottom: 0.5em;
    display: inline-block;
}

.introduction h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 2em;
    margin-bottom: 2em;
}

.introduction p {
    font-size: 16pt;
}

.contact li, a {
    text-decoration: none;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding-top: 2em;
    min-width: 200px;
}

.top-nav {
    background-color: rgba(17, 17, 17, 0.795);
    border-radius: 50px;
    width: 35em;
    margin: 2em auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 1;
}

.top-nav li {
    list-style-type: none;
    font-size: 1em;
    display: inline;
    padding-right: 2em;
}

.top-nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 16pt;
    color: #39Cf37;
}

.bio {
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.portfolio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
    display: none;
}

.projects {
    display: flex;
    justify-content: left;
}

.projects h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    display: none;
}

.projects span {
    font-size: 16pt;
    display: none;
}

.project-img {
    margin-left: 10em;
    padding-right: 5em;
    cursor: pointer;
    display: none;
}

.project-text {
    width: 40em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: none;
}

.projects li {
    text-decoration: none;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    list-style-type: none;
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #111111;
    border-radius: 25px;
    white-space: nowrap;
}

.languages {
    padding-top: 2em;
    display: none;
    text-align: center;
}

.languages img {
    display: inline-block;
    z-index: -1;
    white-space: nowrap;
    margin-bottom: 1em;
}

*{scroll-behavior: smooth;}