body {
    /*background-color: rgb(48, 48, 48);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #292929;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10em;
}

.typeText::after {
    content: "|";
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}


.introduction {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 6em;
    padding-left: 10em;
    display: none;
}

.introduction h1 {
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    border-bottom: 2px solid white;
    padding-bottom: 0.5em;
    display: inline-block;
}

.no-bottom {
    border-bottom: none !important;
}

.introduction h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 4em;
}

.introduction p {
    font-size: 16pt;
}

.contact li, a {
    text-decoration: none;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding-top: 2em;
}

.top-nav {
    background-color: #111111;
    border-radius: 25px;
    width: fit-content;
    margin: 2em auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.top-nav li {
    list-style-type: none;
    font-size: 1em;
    display: inline;
    padding-right: 2em;
}

.top-nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 16pt;
}

.bio {
    margin-right: 10em;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.projects {
    margin-top: 6em;
    display: flex;
    align-items: center;
    padding-left: 10em;
}

.projects h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    display: none;
}

.portfolio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
    display: none;
    padding-top: 4em;
}

.projects span {
    font-size: 16pt;
    display: none;
}

.project-img {
    align-content: right;
    margin-left: 10em;
    cursor: pointer;
    display: none;
    margin-right: 5em;
}

.project-text {
    width: 40em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.languages {
    padding-top: 2em;
    text-align: center;
    display: none;
}

.languages img {
    padding-left: 0.125em;
    padding-right: 0.125em;
    position: relative;
    z-index: -1;
}

*{scroll-behavior: smooth;}