.introduction
{
    font-family: sans-serif, Impact;
    margin-top: 6em;
    margin-left: 10em;
}

body {
    background-color: rgb(48, 48, 48);
    color: rgb(214, 214, 214);
}
}

.introduction h1
{
    font-size: 32pt;
}

.introduction p
{
    font-size: 16pt;
}

.introduction li,a
{
    text-decoration: none;
    font-size: 16pt;
    color: rgb(121, 185, 187);
    line-height: 2em;
}

.fishing_img
{
    display: block;
    margin-top: 4em;
    margin-left: 10em;
    width: 50%;
}

.top-nav
{
    margin-left: 2em;
    margin-top: 2em;
}

.top-nav li
{
    font-family: sans-serif;
    list-style-type: none;
    font-size: 1em;
    display: inline;
    margin-right: 2em;
}

.top-nav a
{
    text-decoration: none;
    color: cadetblue;
}

.bio
{
    margin-right: 10em;
    line-height: 2em;
}